body {
  font-family: "PT Sans Narrow", Area, sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;





  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}

.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;

  white-space: nowrap;

  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow:hidden;
}

a {
  text-decoration: none;
}

.button {
    display: inline-block;
    font: inherit;
    text-align: center;
    color: #ffffff;
    vertical-align: middle;
    text-transform: uppercase;
    background-color: #000000;
    border: none;
    padding: 10px 30px;
    margin-right: 16px;
}

.button.disabled,
.button:disabled {
  cursor: default;
  opacity: 0.5;
  background-color: #000000;
}

.main-header {
  margin-bottom: 75px;

}

.user-navigation,
.site-navigation {
 margin: 0;
 padding: 0;

 display:flex;
 flex-direction:column;
 align-items:center;

 font-size: 16px;
 line-height: 20px;
}


.main-header-logo {
    order: 2;
    width: 368px;
    height: 153px;
    margin-bottom: 60px;
}


.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 63px;
  background-color:black;
}


.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}


.navigation-list {
    padding: 0;
    margin: 0;
    list-style: none;
    display: flex;
}


.user-navigation {
  display: flex;
  max-width: 140px;
  margin-left: auto;
  list-style: none;
}


.main-navigation
.navigation-list {
  list-style: none;
  margin: 0;
  padding:0;
}

.navigation-list a,
.user-navigation a {
  display: block;
  color: #ffffff;
  padding: 20px 25px;
}



.login-link::before {
    position: absolute;
    content: "";
    top: 22px;
    left: 23px;
    width: 16px;
    height: 17px;
    background-image: url(../img/login.svg);
    background-repeat: no-repeat;
    opacity: 0.3;
    background-position: 0 0;
  }

 .login-link:hover::before,
 .login-link:focus::before,
 .login-link:active::before {
   opacity: 1;
 }


.user-navigation .login-link {
  position: relative;
  padding-left: 50px;
}


.navigation-list a:hover,
.navigation-list a:focus,
.user-navigation a:hover,
.user-navigation a:focus{
  background-color: #242424;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  text-align: center;
  justify-content: space-between;
  min-height: 170px;
  list-style: none;

}

.advantages{
  margin-bottom: 80px;
}

 .advantages
 .advantages-list h3 {
    position: relative;
    margin-bottom: 60px;

    font-size: 30px;
    line-height: 42px;

}

  .advantages-item h3::after {
    content: "";
    bottom: -30px;
    left: 50%;
    margin-left: -10px;
    display: block;
    position: absolute;
    width: 20px;
    height: 20px;
    background: white;
    transform: rotate(45deg);
}

li.advantages-item p {
    margin: 0 10px;
}

.advantages-item {

  width: 300px;

}

  .index-column {
  display: flex;
  justify-content: space-between;
  padding: 50px 80px;
  background-image:
  url(../img/line-shadow.png),
  url(../img/wite_bg.jpg);
  background-repeat: no-repeat,repeat;
  background-position: center, 0 0;
  color: #000000;
  margin-bottom: 36px;
  font-size: 14px;
  line-height: 24px;
}


.gallery {
  width: 300px;
}

figure.gallery-content img {
  border: 7px solid #ffffff;
  height: 164px;
  width: 286px;
}

.gallery-container {
  position: relative;

  height: 260px;
}

.button-gallery {
 position: absolute;
 box-sizing: border-box;
 width: 140px;
 margin: 0;
}

.button-gallery-back {
  left: 0;
  bottom: 10px;
}

.button-gallery-next {
  right: 0;
  bottom: 10px;
}

 .gallery-content {
  margin: 0;
  height: 164px;
  margin-right: 170px;

}
.news {
  width:380px;
}

.index-column h2 {
  margin: 0;
  margin-bottom: 25px;

  font-size: 30px;
  line-height: 42px;

}

.news-list {
  padding: 0;
  margin: 0;

  list-style: none;

  margin-bottom: 25px;

}

li.news-item {
    margin-bottom: 25px;
    text-align: left;
}

li.news-item p {
    margin: 0;
}

.news-item time {
  text-transform: none;

}


.appointment {
  width:300px;
}

.appointment-form{}


.contacts {
  width:380px;
}

.appointment-item {
  width: 140px;
  display: block;
  margin: 0;
  margin-bottom: 12px;
}


.appointment-item input {
  font: inherit;
  border: 2px solid #000101;

  box-sizing: border-box;
  width: 140px;

  padding-left: 15px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-right: 15px;

}

p.appointment-item label {
    display: block;
    margin-bottom: 9px;
    margin-left: 15px;
}

button.button.button-appointment {
    width: 100%;
    margin: 0;
    margin-top: 10px;
}

.appointment-form {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.contacts-list {
  margin: 0;
  padding: 0;
  list-style: none;
}

ul.contacts-list p {
    margin: 0;
    margin-bottom: 25px;
}

.main-footer {
  margin-top: 65px;
  padding: 60px 0;
  background-color: #232323;
  background-image: url("../img/Layer 1.jpg");
  background-position: 0 0;


}

.main-footer .container {
  display:flex;
}

.footer-contacts {
  width:320px;
  margin: 0;
  margin-right: 80px;

}

.developer {
  width:140px;
  margin:0;
  margin-left:auto;

}

.main-footer a {
  color: #ffffff;
  text-decoration: underline;


}

.main-footer
.developer a {
  text-decoration: none;
  background-color: #000000;
  padding: 7px;
  text-align: center;

}

.developer b {
    display: block;
    margin-left: 9px;

}

.developer .button:hover,
.developer .button:focus {
  color: #000000;
  background-color: #ffffff;
}


.social-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  list-style: none;
  width: 141px;
}

.social b {
    display: block;
    margin-left: 15px;
    margin-bottom: 14px;
}


.social-button:hover,
.social-button:focus {
  background-color: #ffffff;

}

.social-button:hover path,
.social-button:focus path{
  fill: #000000;
}

.social-button {
  display: flex;
  width: 43px;
  align-items: center;
  height: 43px;
  justify-content: center;
  background-color: #000000;
  margin-right: 5px;
}


.footer-contacts a:hover,
.footer-contacts a:focus {
 text-decoration: none;
}

/*Catalog.css*/

.inner-page {
  color: #000000;

  background-color: #f9f6f3;
  background-image: url("../img/wite_bg.jpg");
  background-position: 0 0;
  background-repeat: repeat;
}

.inner-page .main-header {

  margin-bottom: 50px;
  background-color: #000000;

  justify-content: flex-start;
}

  .inner-page .header-logo {

  padding: 19px 25px 0px 20px;

}

a {
  text-decoration: none;
  color: black;
}

.inner-page .navigation-list {
  list-style: none;
}

.navigation-list a {
  color: white;
}

.user-navigation{
  margin-left: auto;
  list-style: none;
}


.button {
  font: inherit;
  line-height: 18px;

  text-align: center;
  color: #ffffff;
  vertical-align: middle;
  text-transform: uppercase;

  background-color: #000000;
  border: none;

  padding: 12px 16px;
}

.button:hover,
.button:focus,
.button:active {
  background-color: #663d15;
}

.inner-page .main-navigation {
  display: flex;
  flex-direction: row;
  align-items: flex-start;

  font-size: 16px;
  line-height: 20px;
  color: #ffffff !important;


}


.breadcrumbs {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  margin: 0;
  padding: 0;
  width: 300px;
  height: 19px;
  margin-bottom: 50px;
}

.breadcrumbs a {
  text-decoration: none;
  color: black;
}

.breadcrumbs li {
  position: relative;
  list-style: none;
  margin-right: 42px;
}

.breadcrumbs li:last-child{
  margin: 0;
}

.breadcrumbs-current {
  color: #aba9a7;
}


.breadcrumbs a::after {
  content: "";
  display: block;
  position: absolute;
  width: 8px;
  height: 8px;
  right: -25px;
  top: 7px;
  background: black;
  transform: rotate(45deg);
}

.breadcrumbs-current::after {
  display: none;
}

.filter {
  margin: 0;
  padding: 0;
  width: 180px;

}

form.filters legend {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 26px;
}

.filters fieldset {
    margin: 0;
    padding: 0;
    border: 0;
  }

  .filters fieldset ul {
    margin: 0;
    padding: 0;
    border: 0;
    margin-bottom: 30px;
    line-height: 18px;
    list-style: none;
  }

 .filter-options {

   margin-bottom: 20px;

   padding-left: 45px;
 }

 .filter-options label {
   position: relative;

   display: block;
   cursor: pointer;
   user-select: none;
   z-index: 1;


 }

 .filter-input-radio:checked +label::after {
     content: "";
     position: absolute;
     width: 8px;
     height: 8px;
     top: 4px;
     left: -29px;
     border-radius: 50%;
     background-color: black;
 }

 .filter-input-radio + label::before {
   content: "";
   display: block;
   position: absolute;

   top: -2px;
   left: -35px;

   width: 16px;
   height: 16px;

   border: 2px solid black;
   border-radius: 50%;

 }

 .filter-input:disabled + label {
   color: #000000;
   opacity: 0.5;
 }

.filter-input:disabled {
  color: #000000;
  opacity: 0.5;
}


.filter-input-checkbox:checked + label::after {
  content: "";

  position: absolute;
  top: 5px;
  left: -31px;

  width: 12px;
  height: 12px;

  background-image: url(../img/cross.svg);
  background-repeat: no-repeat;
  background-position: 0 0;

}

.filter-input-checkbox + label::before {
    content: "";
    display: block;
    position: absolute;
    width: 16px;
    height: 16px;
    border: 2px solid black;
    z-index: 2;
    top: 1px;
    left: -35px;
}

button.button.filter-button {
    padding: 12px 28px;
}

.filter-input:hover + label,
.filter-input:focus + label {
  color: #663d15;
}

.filter-input:disabled + label {
  color: #000000;
}

.catalog {
  width: 700px;


}

.catalog-column {
  display: flex;
  justify-content: space-between;
}

.catalog-list {
display: flex;
padding: 0;
margin: 0;
list-style: none;
flex-wrap: wrap;

}

.catalog-item h3 {
    order: 2;
    font-size: 14px;
    line-height: 18px;
    margin-top: 17px;
    margin-bottom: 12px;
    margin-left: 16px;
    margin-right: 15px;
}

.catalog-item a {
    display: flex;
    flex-direction: column;
    margin: 0;
}

.catalog-item {
    display: flex;
    flex-direction: column;
    width: 220px;
    margin-bottom: 20px;
    margin-right: 20px;
    background-color: #f8f8f8;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

  .catalog-item:nth-child(3n) {
  margin-right: 0;
}

li.catalog-item p {
    margin: 0;
}

.catalog-item:hover {
box-shadow: 0 0 25px rgba(0, 0, 0, 0.3);
}

.catalog-item-price {
    order: 2;
    display: flex;
    margin: 18px;
    margin-top: 0;
}

.catalog-item-price b {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    background-color: #e5e5e5;
    padding: 13px 0;
    width: 110px;
}

.catalog-item-price {
    order: 2;
    display: flex;
}



.filter-list {
      list-style: none;
}

.brand {
  border: 0;
}


.product-group {
  list-style: none;

}

.product-group-filter {
  border: 0px;
}



.inner-page .pagination-list {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 193px;
  display: flex;
  flex-wrap: wrap;

}

.pagination-item {
  margin-right: 7px;
}

.pagination-item:last-child {
  margin-right: 0px;
}

li.pagination-item a {
    display: block;
    padding: 7px 17px;
    color: white;
    background-color: black;
}

li.pagination-item a:hover,
li.pagination-item a:focus{
  background-color: #663d15;
}

li.pagination-item a:active{
  color: black;
  background-color: white;
}

li.pagination-item-current a {
  color: black;
  background-color: white;
}

.social-list {
  list-style: none;
}

.inner-page .main-footer {
  margin-top: 50px;
  display: flex;
  justify-content: space-around;
  color: #ffffff;
}

/* карта товара*/


.page-title {
    margin: 0;
    padding: 0;
    margin-bottom: 15px;

  }


  .product-photo-all{

   box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1)

  }


.product-info{
  width: 400px;
  height: 498px;
}

.product-photo-list {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: space-between;
}


ul.breadcrumbs.breadcrumbs-product {
    width: 630px;
}
li.breadcrumbs-item:last-child{
  color: #aba9a7;
}


section.product-photo {

    margin-right: 90px;
}

section.priduct-info  {
    display: flex;
    flex-direction: column;

}

.product-article {
  text-align: right;
  color: #aeaeae;

}
product-pay{
  font-size: 14px;
  line-height: 24px;
}

.product-description p{
  margin: 0;
  padding: 0;
}

.product-description {
  display: flex;
  justify-content: space-between;
  width: 381px;
  margin-bottom: 35px;
}

.priduct-info h3 {
    font-size: 24px;
    line-height: 30px;
}



li.product-photo-item img {
    box-shadow: 0 0 10px 2px rgba(0, 0, 0, 0.1);
}

b.product-pay {
    font-size: 14px;
    line-height: 18px;
    text-align: center;
    background-color: #e5e5e5;
    padding: 12px 28px;
    margin: 0;
}

.product-price {
    display: flex;
}

a.button.button-pay {
    padding: 12px 28px;
    margin: 0;
}

p.product-text {
    margin: 0;
    padding: 0;
    width: 390px;
    margin-bottom: 40px;
}

ul.product-list {
    margin: 0;
    padding: 0;
    list-style: none;
    position: relative;
    padding-left: 23px;
}

.product-item {
  position: relative;

}

.product-item::before {
    content: "";
    position: absolute;
    display: block;
    width: 8px;
    height: 8px;
    background-color: black;
    transform: rotate(45deg);
    left: -20px;
    top: 8px;
}
