body {
  font-family: "PT Sans Narrow", Area, sans-sans-serif;
  font-size: 14px;
  line-height: 24px;
  font-weight: 700;
  text-transform: uppercase;
  color: #ffffff;
  margin: 0;
  padding: 0;

<<<<<<< HEAD
  background-color: #000000;
  background-image: url("../img/bg.jpg");
  background-repeat: no-repeat;
  background-size: 1372px: auto;
=======

  background-image: url("../img/bg.jpg");
  background-position: top center;
>>>>>>> 25e1533a968c41595cfd3ed9676e3b5dc62df1ac
  background-repeat: no-repeat;
  background-position: top center;
}

.container {
  margin: 0 auto;
  padding: 0 10px;
  width: 940px;
}


a {
  text-decoration: none;
}

.button {
  font: inherit;
  color: #ffffff;
  border: none;
  text-transform: uppercase;
  vertical-align: middle;

  background-color: #000000;

}

.site-navigation {
 display:flex;
 flex-direction:column;
 align-items:center;

 font-size: 16px;
 line-height: 20px;
 color: #ffffff;

 min-height: 287px;

}

.main-header-logo {
  order: 2;
  width: 199px;
  height:155px;
}

.main-navigation-wrapper {
  width: 100%;
  margin-bottom: 63px;
  background-color:black;
}

.main-navigation-wrapper .container {
  display: flex;
  justify-content: space-between;
}

.navigation-list {
  padding: 0;
  margin: 0;

  list-style: none;
  min-height: 70px;
}


.navigation-list li, .user-navigation li {
    display: inline-flex;
    padding: 24px;
}

.user-navigation {
  margin:  0;
  padding: 0;
  list-style: none;
}

.user-navigation li:first-child {
    padding-right: 5px;
}

.user-navigation li:nth-child(2) {
    padding-left: 5px;
}


.main-navigation .navigation-list {
 list-style: none;
 margin: 0;
 padding:0;
}

.navigation-list a {
 color: #ffffff;
}

.main-navigation a:hover,
.main-navigation a:focus,
.navigation-list a:hover,
.navigation-list a:focus{
  background-color: #242424;
}

.advantages-list {
  margin: 0;
  padding: 0;
  display: flex;
  justify-content: space-between;
  min-height: 170px;
  list-style: none;
  text-align: center;
}

.advantages{
  margin-bottom: 80px;
}

.advantages
.advantages-list h3 {
  font-size: 30px;
  line-height: 42px;
}

.advantages-item {

  width: 300px;
  min-height: 170px;
}

.index-column {
  display:flex;
  justify-content: space-between;
  padding: 50px 80px;
  background-image: url("../img/wite_bg.jpg");
  background-position: 0 0;
  color: #000000;
  text-align: center;
  margin-bottom: 36px;
}

.gallery {
  width: 300px;
}

.gallery-content{
  margin:0;
  padding:0;
}
.news {
  width:380px;
}

.index-column h2 {
  font-size: 30px;
  line-height: 42px;


}
.news-list {
  list-style: none;
}

.news-item time {
  text-transform: none;

}

.gallery-content {
  border: 7px solid #ffffff;
  margin-right: 170px;
}


.appointment {
  width:300px;
}

.contacts {
  width:380px;
}

.appointment-item input {
  font: inherit;
  border: 2px solid #000101;

}

.contacts-list {
  list-style: none;
}

.main-footer {
  margin-top:65px;
  padding: 60px 0;
  background-color: #232323;
  background-image: url("../img/Layer 1.jpg");
  background-position: 0 0;
}

.main-footer .container {
  display:flex;
}

.footer-contacts {
  width:320
  margin:0;
  margin-right: 80px;

}

.developer {
  width:150px;
  margin:0;
  margin-left:auto;

}

.main-footer a {
  color: #ffffff;
  text-decoration: underline;


}

.main-footer
.developer a {
  text-decoration: none;
  background-color: #000000;
  padding: 7px;
  text-align: center;

}


.social {
  width: 145px;
  min-height:100px;

}

.social-list  {
  display:flex;
  justify-content:space-between;
  list-style: none;
}


.social
.social-list
.social-item a:hover,
.social
.social-list
.social-item a:focus {
  color: #000000;
  background-color: #ffffff;

}

.footer-contacts a:hover,
.footer-contacts a:focus {
 text-decoration: none;
}
